<!doctype html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <title>Headmaster2</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <h1>Headmaster Homepage!</h1>
  <main>{{{cohortsListHTML}}}</main>


  <form  action="/cohorts" method="post">
    <label>Cohort Title:</label>
    <input type="text" name="title" />

    <label>Slug:</label>
    <input type="text" name="slug" />

    <button type="submit">Add Cohort</button>
  </form>
  <form  action="/students" method="get" onSubmit="return searchById()">

    <label>Student ID:</label>
    <input id="studentId" type="text" name="ID" />

    <button type="submit">Search by Student ID</button>
  </form>
  <script>
    function searchById(){
      let id = document.getElementById('studentId').value;
      location.href = 'students/' + id;
      return false
    }
  </script>
   <a href=/logout>logout</a>
</body>

</html>
